html{
  font-size: 62.5%;
}

html,body{
  width:100%;
  height:100%;
  font-family: "Century Gothic";
}
body{
  margin: 0;
  padding: 0;
  font-size: 5vw;
  line-height: 1.4;
  @media screen and (min-width:1024px) {
    font-size: 18px;
  }
}
header,.wrapper,#partner,footer{
  background: #F55E61;
}
/* ----<nav-sp>---- */
.nav{
  position: relative;
}
#nav-drawer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw 20px;
  @media screen and (min-width:1024px) {
    padding: 24px 20px;
    width: 1040px;
    margin: 0 auto;
  }
}

#nav-drawer img{
  width: 88px;
  height: auto;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  width: 30px;
  height: 22px;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #ffffff;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
  &::before{
    position: absolute;
    right: 36%;
    top: 1vw;
    font-family: FontAwesome;
    content: '\f00d';
    font-size: 10vw;
    color: white;
    @media screen and (min-width:1024px) {
      font-size: 40px;
      right: 31%;
    }
  }
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 80%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  background: #fff;
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(350%);
  height: auto;
  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
  }
}
.nav-content{
  &-item{
    padding: 4vw;
    font-size: 1vw;
    border-bottom: solid 1px #a7a7a7;
  }
}


/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
/* ----<nav>---- */

// レイアウト
.l-contentFull{
  width: 100%;
  @media screen and (min-width:1024px) {
    margin: 0 auto;
  }
}

.l-content{
  padding: 40px 6vw;
  @extend .l-contentFull;
  @media screen and (min-width:1024px) {
    width: 1040px;
  }
  &--spaceBetween{
    @media screen and (min-width:1024px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

// utility
.u-txtSmall{
  font-size: 4vw;
  @media screen and (min-width:1024px) {
    font-size: 16px;
  }
}
.u-bgGray{
  background: #F6F6F6;
}

// component
.c-cta{
  margin: 0 auto;
  &__btnBlock{
    margin: 0 auto;
    width: 80%;
    @media screen and (min-width:1024px) {
      width: 480px;
    }
  }
  &__btn{
    display: block;
    text-align: center;
    background: #83D061;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    padding: 16px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
    @media screen and (min-width:1024px) {
      font-size: 24px;
    }
  }
  &__txt{
    margin-bottom: 2vw;
    color: #83D061;
    text-align: center;
    font-weight: bold;
  }
}

// 共通パーツ
.p-content{
  &__ttl{
    font-size: 7vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    @media screen and (min-width:1024px) {
      font-size: 40px;
    }
    &--spaceBetween{
      @media screen and (min-width:1024px) {
        text-align: left;
      }
    }
  }
  &__ttlPink{
    color: #F55E61;
    background: linear-gradient(transparent 50%, #ffffff 0%);
  }
  &__ttlBlack{
    background: linear-gradient(to bottom, rgba(  255, 234,  234, 0) 50%,rgba(  255, 234,  234, 1) 0%,rgba(  255, 234,  234, 1),rgba(  255, 234,  234, 1)100%);
  }
  &__txt{
    margin-bottom: 16px;
    @media screen and (min-width:1024px) {
      text-align: center;
    }
  }
}

// main
// MV
.p-mainVisual{
  background-image: url("../img/imgMvRpo.png");
  background-position: right -100% top -45px;
  background-repeat: no-repeat;
  background-size: 83% auto;
  padding: 4vw 4vw 6vw;
  position: relative;
  @media screen and (min-width:1024px) {
    background-position: right 40px top -75px;
    background-size: 50% auto;
    padding: 0px;
  }
  &__content{
    @media screen and (min-width:1024px) {
      width: 1040px;
      margin: 0 auto;
      padding: 40px 96px;
    }
  }
  &__tag{
    border-radius: 4px;
    border: solid 1px #F55E61;
    color: #F55E61;
    display: inline-block;
    margin-bottom: 8px;
    padding: 4px;
    font-size: 4vw;
    @media screen and (min-width:1024px) {
      font-size: 16px;
    }
  }
  &__mainCopy{
    font-size: 1.8em;
    color: #F55E61;
    font-weight: bold;
    margin-bottom: 8px;
    @media screen and (min-width:1024px) {
      font-size: 64px;
    }
  }
  &__subCopy{
    font-weight: bold;
    background: white;
    padding: 4px;
    display: inline-block;
    margin-bottom: 16px;
    @media screen and (min-width:1024px) {
      font-size: 26px;
      margin-bottom: 40px;
    }
  }
}

// こんなお悩み、解決します
.p-issue{
  &__block{
    @media screen and (min-width:1024px) {
      display: flex;
    }
  }
  &__item{
    background: white;
    position: relative;
    &:not(:last-child){
      margin-bottom: 5vw;
    }
    @media screen and (min-width:1024px) {
      margin: 0 16px;
      &:not(:last-child){
        margin-bottom: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      &:first-child{
        margin-left: 0;
      }
    }
  }
  &__icon{
    color: #FCCECF;
    position: absolute;
    top: -2vh;
    left: -4vw;
    >i {
      font-size: 5vh;
      transform: scaleX(-1);
      @media screen and (min-width:1024px) {
        font-size: 32px;
      }
    }
    @media screen and (min-width:1024px) {
      left: -16px;
    }
  }
  &__txt{
    background: #ffffff;
    padding: 16px 16px 16px 24px;
    font-size: 4vw;
    @media screen and (min-width:1024px) {
      font-size: 16px;
    }
  }
}

// edgestができる、採用サポート
.p-solution{
  &__item{
    border: solid 1px #dfdfdf;
    padding: 16px;
    margin-bottom: 24px;
    @media screen and (min-width:1024px) {
      &:not(:last-child){
        margin-right: 16px;
        padding: 16px 16px 0;
      }
    }
  }
  &__itemImg{
    margin: 0 auto;
    width: 70%;
    @media screen and (min-width:1024px) {
      width: 320px;
      margin: 0;
    }
  }
  &__itemTtl{
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    @media screen and (min-width:1024px) {
      font-size: 24px;
    }
  }
  &__itemContent{
    @media screen and (min-width:1024px) {
      display: flex;
      justify-content: center;
    }
    &--reverse{
      @media screen and (min-width:1024px) {
        flex-direction: row-reverse;
      }
    }
  }
  &__detail{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 670px;
    justify-content: space-between;
    @media screen and (min-width:1024px) {
      font-size: 24px;
      display: inline-block;
      margin: auto 72px;
    }
  }
  &__detailItem{
    margin: 0 0 8px 16px;
    width: 43%;
    position: relative;
    font-size: 3vw;
    &::before{
      content: "";
      background: #F55E61;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      left: -16px;
      opacity: .5;
      height: 8px;
      width: 8px;
    }
    @media screen and (min-width:1024px) {
      font-size: 16px;
      width: 100%;
    }
  }
}

// Edgestの特徴
.p-feature{
  &__list{
    @media screen and (min-width:1024px) {
      display: flex;
    }
  }
  &__item{
    background: #ffffff;
    padding: 30px 16px 16px;
    margin-bottom: 8vh;
    @media screen and (min-width:1024px) {
      width: 33%;
      margin-top: 16px;
      &:not(:last-child){
        margin-right: 24px;
      }
    }
  }
  &__itemIcon{
    background: white;
    height: 12vh;
    width: 12vh;
    text-align: center;
    border-radius: 50%;
    color: #FCCECF;
    margin: -66px auto -2vh;
    padding-top: 8px;
    font-size: 160%
  }
  &__itemTtl{
    font-weight:  bold;
    text-align: center;
    margin-bottom: 16px;
    &:after{
      content: "";
      border-bottom: solid 1px #F55E61;
      width: 32px;
    }
  }
  &__itemTxt{
    line-height: 1.8;
    font-size: 2.5vh;
  }
  &__txtEemphasis{
    background: linear-gradient(to bottom, rgba(  255, 234,  234, 0) 50%,rgba(  255, 234,  234, 1) 0%,rgba(  255, 234,  234, 1),rgba(  255, 234,  234, 1)100%);
    font-weight:  bold;
  }
}

// 料金プラン
.p-price{
  position: relative;
  margin-bottom: 4vw;
  @media screen and (min-width:1024px) {
    width: 60%;
    padding-top: 24px;
  }
  &__block{
    overflow: hidden;
    height: 384px; /* 開く前に見えている部分の高さ */
    transition: all 0.5s;
  }
  &__label{
    position: absolute;
    z-index: 1;
    font-weight: bold;
    bottom: 0;
    width: 100%;
    height: 140px; /* グラデーションの高さ */
    cursor: pointer;
    text-align: center;
    background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 50%);
    &:after{
      line-height: 2.5rem;
      position: absolute;
      z-index: 2;
      bottom: 20px;
      left: 50%;
      font-family: FontAwesome;
      content: 'もっと見る　''\f107';
      transform: translate(-50%, 0);
      letter-spacing: 0.05em;
      color: #F55E61;
      border-radius: 20px;
    }
  }
  &__accordion{
    display: none;
    &:checked + label {
      background: inherit; /* 開いた時にグラデーションを消す */
      // 閉じるボタンを消す場合解放 
      display: none ;
      &:after{
        font-family: FontAwesome;
	      content: '\f139'' 閉じる';
      }
    }
    &:checked ~ .p-price__block{
      height: auto;
      transition: all 0.5s;
    }
  }
  &__ttlBlock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    @media screen and (min-width:1024px) {
      justify-content: space-around;
    }
  }
  &__ttl{
    font-weight: bold;
    font-size: 4.5vw;
    &:not(:last-child){
      padding-right: 4px;
    }
    @media screen and (min-width:1024px) {
      font-size: 24px;
    }
  }
  &__item{
    border-bottom: solid 1px #DFDFDF;
    padding: 16px 0;
  }
  &__itemTtl{
    text-align: center;
    font-size: 4vw;
    @media screen and (min-width:1024px) {
      font-size: 20px;
    }
  }
  &__icon{
    display: flex;
    color: #FCCECF;
    justify-content: space-around;
    padding-top: 16px;
    @media screen and (min-width:1024px) {
      font-size: 24px;
    }
  }
  &__iconGray{
    color: #DFDFDF;
    ;
  }
  &__balloonBlock{
    display: flex;
    flex-direction: row-reverse;
  }
  &__balloon{
    display: flex;
    position: relative;
    margin: 6px 0 0;
    padding: 7px 10px;
    width: 60%;
    font-size: 16px;
    background: #FFF;
    border: solid 2px #FCCECF;
    box-sizing: border-box;
    border-radius: 8px;
    &:before{
      content: "";
      position: absolute;
      top: -24px;
      right: 12%;
      margin-left: -15px;
      border: 12px solid transparent;
      border-bottom: 12px solid #FFF;
      z-index: 2;
    }
    &:after{
      content: "";
      position: absolute;
      top: -28px;
      right: 11.5%;
      margin-left: -17px;
      border: 14px solid transparent;
      border-bottom: 14px solid #FCCECF;
      z-index: 1;
    }
  }
  &__balloonIcon{
    color: #FCCECF;
    margin: auto 8px auto 0;
    font-size: 20px;
  }
  &__balloonTxt{
    font-size: 12px;
  }
}

// フォーム
.p-form{
  &__item{
    margin-bottom: 16px;
  }
  &__label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__itemInput{
    padding: 16px 8px;
    width: 100%;
    border: none;
    font-size: 100%;
  }
  &__itemTextarea{
    width: 100%;
    border: none;
  }
  &__agree{
    margin-bottom: 24px;
    text-align: center;
    font-size: 3vw;
    @media screen and (min-width:1024px) {
      font-size: 14px;
    }
  }
  &__checkbox{
    height: 24px;
    width: 24px;
  }
  &__btnBlock{
    margin: 0 auto;
    width: 80%;
  }
  &__icon{
    color: #ffffff;
  }
  &__btn{
    display: block;
    text-align: center;
    background: #83D061;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    padding: 16px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
    border: none;
    width: 100%;
  }
  &__submit{
    border: none;
    background: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 5vw;
    @media screen and (min-width:1024px) {
      font-size: 24px;
    }
  }
}
.p-footer{
  background: #FFEAEA;
  padding: 24px;
  text-align: center;
  &__txt{
    font-size: 2vh;
    margin-bottom: 8px;
  }
  &__credit{
    font-size: 1vh;
  }
}